<!-- templates/fragments/productTable.html -->
<table class="table table-striped w-full border border-gray-300">
    <thead>
    <tr>
        <th class="px-4 py-2">Title</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Variant</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td class="border px-4 py-2" th:text="${product.title}"></td>
        <td class="border px-4 py-2" th:text="${product.price}"></td>
        <td class="border px-4 py-2" th:text="${product.variant}"></td>
    </tr>
    </tbody>
</table>
